<div class="left-side-bar">
	<div class="brand-logo">
		<a href="index.html">
			<img src="~/adminasset/vendors/images/deskapp-logo.svg" alt="" class="dark-logo" />
			<img src="~/adminasset/vendors/images/deskapp-logo-white.svg"
				 alt=""
				 class="light-logo" />
		</a>
		<div class="close-sidebar" data-toggle="left-sidebar-close">
			<i class="ion-close-round"></i>
		</div>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu">
				<li>
					<a href="/Admin/Home/Index" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-house"></span><span class="mtext">Trang chủ</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-house"></span><span class="mtext">Quản lý sản phẩm</span>
					</a>
					<ul class="submenu">
						<li><a href="/Admin/Product/Index">Sản phẩm</a></li>
						<li><a href="/Admin/BrandMobiles/Index">Thương hiệu</a></li>
						<li><a href="/Admin/ColorProducts/Index">Màu sắc</a></li>
					</ul>
				</li>
				<li>
					<a href="/Admin/Order/Index" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-house"></span><span class="mtext">Quản lý đơn hàng</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle">
						<span class="micon bi bi-house"></span><span class="mtext">Quản lý thông tin</span>
					</a>
					<ul class="submenu">
						<li><a href="/Admin/Roles/Index">Phân quyền</a></li>
						<li><a href="/Admin/Roles/Index">Thông tin quản trị</a></li>
						<li><a href="/Admin/Customer/Index">Thông tin khách hàng</a></li>
					</ul>
				</li>
				<li>
					<a href="/Admin/CategoryNews/Index" class="dropdown-toggle no-arrow">
						<span class="micon bi bi-house"></span><span class="mtext">Quản lý tin tức</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>