@model Phone_Ecommerce_Manage.Models.News
@using Phone_Ecommerce_Manage.Models
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="u-s-p-y-60">
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">
                            <a href="/">Home</a>
                        </li>
                        <li class="is-marked">
                            <a asp-controller="News" asp-action="Index">News</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-s-p-y-90">
    <div class="detail-post" style="margin-top: -100px;">
        <form asp-action="Details">
            <div class="bp-detail">               
                <div class="bp-detail__info-wrap">
                    <div class="bp-detail__stat">
                        <span class="bp-detail__stat-wrap">
                            <span class="bp-detail__publish-date">
                                <a href="blog-right-sidebar.html">
                                    <span>@Model.CreateDate</span>
                                </a>
                            </span>
                        </span>
                    </div>
                    <span class="bp-detail__h1">
                        <a href="blog-detail.html">@Model.Title</a>
                    </span>
                    <div class="u-s-m-b-15">
                        <p>@Html.Raw(Model.Content)</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>