@model IEnumerable<Phone_Ecommerce_Manage.Models.Ram>

@{
    ViewData["Title"] = "Danh sách dung lượng Ram";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
    <div>
        <div class="min-height-200px">
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Danh sách dung lượng RAM</h4>
                    <a asp-area="Admin" asp-controller="Rams" asp-action="Create" type="button" class="btn btn-primary">
                        Thêm dung lượng RAM
                    </a>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr>
                                <th>Tên dung lượng RAM</th>
                                <th class="table-plus datatable-nosort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NameRam</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdRam" class="btn btn-primary">Sửa</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdRam" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
