@model Phone_Ecommerce_Manage.Models.Voucher

@{
    ViewData["Title"] = "Xoá mã giảm giá";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="~/adminasset/vendors/images/register-page-img.png" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Xoá mã giảm giá</h2>
                    </div>
                    <form asp-action="Delete">
                        <label asp-for="CodeVoucher"><h6>Code giảm giá</h6></label>
                        <div class="input-group custom">
                            <input asp-for="CodeVoucher" class="form-control form-control-lg"
                                   type="text" />
                        </div>
                        <label asp-for="NameVoucher"><h6>Tên mã giảm giá</h6></label>
                        <div class="input-group custom">
                            <input asp-for="NameVoucher" class="form-control form-control-lg"
                                   type="text" />
                        </div>
                        <label asp-for="IncreasePrice"><h6>Bắt đầu từ giá</h6></label>
                        <div class="input-group custom">
                            <input asp-for="IncreasePrice" class="form-control form-control-lg"
                                   type="text" />
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <input type="hidden" asp-for="Idvoucher" />
                                    <input type="submit" value="Xoá" class="btn btn-outline-danger" /> &ensp;
                                    <a asp-action="Index" class="btn btn-outline-primary">Quay lại danh sách</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>