@using Microsoft.AspNetCore.Http;
@using Phone_Ecommerce_Manage.ModelViews;
@using Phone_Ecommerce_Manage.Utilities;
@{
    var customer = Context.Session.Get<Customer>("CustomerSession");
}
<header id="header-id" class="header--style-1">

    <!--====== Nav 1 ======-->
    <nav class="primary-nav primary-nav-wrapper--border">
        <div class="container">

            <!--====== Primary Nav ======-->
            <div class="primary-nav">

                <!--====== Main Logo ======-->

                <a class="main-logo" href="/Home/Index">

                    <img src="https://www.freepnglogos.com/uploads/orange-mobile-logo-png-14.png" alt="" style="height: 43px;">
                </a>
                <!--====== End - Main Logo ======-->
                <!--====== Search Form ======-->
                <!--====== End - Search Form ======-->
                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cogs" type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                            <li class="has-dropdown" data-tooltip="tooltip" data-placement="left" title="Account">

                                <a><i class="far fa-user-circle"></i></a>

                                <!--====== Dropdown ======-->

                                <span class="js-menu-toggle"></span>
                                <ul style="width:120px">
                                    @{
                                        if (customer != null)
                                        {
                                            <li>
                                                <a href="/Accounts/ManageAccount">
                                                    <i class="fas fa-user-circle u-s-m-r-6"></i>

                                                    <span>Thông tin</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="Accounts" asp-action="SignOut">
                                                    <i class="fas fa-lock-open u-s-m-r-6"></i>

                                                    <span>Đăng xuất</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/Accounts/SignUp">
                                                    <i class="fas fa-user-plus u-s-m-r-6"></i>

                                                    <span>Đăng ký</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Accounts/SignIn">
                                                    <i class="fas fa-lock u-s-m-r-6"></i>

                                                    <span>Đăng nhập</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                                <!--====== End - Dropdown ======-->
                            </li>
                            @{
                                if (customer != null)
                                {
                                    <span>Xin chào, @(customer.NameCustomer)</span>
                                }
                            }
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Primary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 1 ======-->
    <!--====== Nav 2 ======-->
    <nav class="secondary-nav-wrapper">
        <div class="container">
            <!--====== Secondary Nav ======-->
            <div class="secondary-nav">
                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation1">
                    <button class="btn btn--icon toggle-mega-text toggle-button" type="button">M</button>
                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>
                        <!--====== List ======-->
                        <ul class="ah-list">
                            <li class="has-dropdown">
                                <span class="mega-text" style="width: 50px;border-radius: 10px">MENU</span>
                                <!--====== Mega Menu ======-->
                                <span class="js-menu-toggle"></span>
                                <div class="mega-menu">
                                    <div class="mega-menu-wrap">
                                        <div class="mega-menu-list">
                                            <ul>
                                                <li class="js-active">
                                                    <a href="shop-side-version-2.html">
                                                        <i class="fas fa-tv u-s-m-r-6"></i>
                                                        <span>Điện thoại</span>
                                                    </a>
                                                    <span class="js-menu-toggle js-toggle-mark"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--====== DIENTHOAI ======-->
                                        <div class="mega-menu-content js-active">
                                            <!--====== Mega Menu Row ======-->
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <ul>
                                                        <li class="mega-list-title">
                                                            <a">Chọn theo hãng</a>
                                                        </li>
                                                        <li>
                                                            <a>Apple</a>
                                                        </li>
                                                        <li>
                                                            <a>Samsung</a>
                                                        </li>
                                                        <li>
                                                            <a>Xiaomi</a>
                                                        </li>
                                                        <li>
                                                            <a>Oppo</a>
                                                        </li>
                                                        <li>
                                                            <a>Vivo</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Nokia</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Realme</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Asus</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">OnePlus</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Nubia</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Tecno</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                    <ul>
                                                        <li class="mega-list-title">
                                                            <a>Chọn theo mức giá</a>
                                                        </li>
                                                        <li>
                                                            <a>Dưới 5 triệu</a>
                                                        </li>
                                                        <li>
                                                            <a>Từ 10 đến 15 triệu</a>
                                                        </li>
                                                        <li>
                                                            <a>Từ 15 đến 20 triệu</a>
                                                        </li>
                                                        <li>
                                                            <a>Trên 20 triệu</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                    <ul>
                                                        <li class="mega-list-title">
                                                            <a href="shop-side-version-2.html">Loại điện thoại</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Android</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">IOS</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-side-version-2.html">Điện thoại phổ thông</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3">
                                                    <ul>
                                                        <li class="mega-list-title">

                                                            <a href="shop-side-version-2.html">Chọn theo nhu cầu</a>
                                                        </li>
                                                        <li>

                                                            <a href="shop-side-version-2.html">Pin trâu</a>
                                                        </li>
                                                        <li>

                                                            <a href="shop-side-version-2.html">Dung lượng lớn</a>
                                                        </li>
                                                        <li>

                                                            <a href="shop-side-version-2.html">Pin trâu</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!--====== End - Mega Menu Row ======-->
                                            <br>
                                        </div>
                                        <!--====== End - DIENTHOAI ======-->
                                    </div>
                                </div>
                                <!--====== End - Mega Menu ======-->
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation2">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-cog" type="button"></button>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close</span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design2 ah-list--link-color-secondary">
                            <li>

                                <a href="/">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a asp-controller="Mobile" asp-action="Index">SẢN PHẨM</a>
                            </li>
                            <li>
                                <a asp-controller="Voucher" asp-action="Index">MÃ GIẢM GIÁ</a>
                            </li>
                            
                            <li>
                                <a asp-controller="News" asp-action="Index">TIN TỨC CÔNG NGHỆ</a>
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
                <!--====== Dropdown Main plugin ======-->
                <div class="menu-init" id="navigation3">

                    <button class="btn btn--icon toggle-button toggle-button--secondary fas fa-shopping-bag toggle-button-shop" type="button"></button>

                    <span class="total-item-round">
                        2
                    </span>

                    <!--====== Menu ======-->
                    <div class="ah-lg-mode">

                        <span class="ah-close">✕ Close </span>

                        <!--====== List ======-->
                        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
                            <li>

                                <a href="index.html"><i class="fas fa-home u-c-brand"></i></a>
                            </li>
                            <li>

                                <a asp-controller="FavoriteProducts" asp-action="Index"><i class="far fa-heart"></i></a>
                            </li>
                            <li id="mini-card-id" class="has-dropdown">
                                @await Html.PartialAsync("/Views/Shared/_MiniCartPartialView.cshtml")
                            </li>
                        </ul>
                        <!--====== End - List ======-->
                    </div>
                    <!--====== End - Menu ======-->
                </div>
                <!--====== End - Dropdown Main plugin ======-->
            </div>
            <!--====== End - Secondary Nav ======-->
        </div>
    </nav>
    <!--====== End - Nav 2 ======-->
</header>