<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/asset/images/favicon.png" rel="shortcut icon">
    <title>@ViewData["Title"] - Phone_Ecommerce_Manage</title>

    <!--====== Google Font ======-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="~/asset/css/vendor.css">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="~/asset/css/utility.css">

    <!--====== App ======-->
    <link rel="stylesheet" href="~/asset/css/app.css">
</head>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">
            <img class="preloader__img" src="~/asset/images/preloader.png" alt=""></div>
    </div>
    <div id="app">
        <!--====== Main Header ======-->
        @await Html.PartialAsync("_HeaderPartialView.cshtml")
        <!--====== End - Main Header ======-->
        <div class="app-content">
            @RenderBody()
        </div>
        <!--====== Main Footer ======-->
        @await Html.PartialAsync("_FooterPartialView.cshtml")
        <!--====== End - Main Footer ======-->
        <!--====== Modal Section ======-->
        <!--====== Quick Look Modal ======-->
        @await Html.PartialAsync("_QuickLookPartialView.cshtml")
        <!--====== End - Quick Look Modal ======-->
        <!--====== Add to Cart Modal ======-->
        @await Html.PartialAsync("_CartPartialView.cshtml")
        <!--====== End - Add to Cart Modal ======-->
        <!--====== End - Modal Section ======-->
    </div>

    <!--====== Vendor Js ======-->
    <script src="~/asset/js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="~/asset/js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="~/asset/js/app.js"></script>
</body>
</html>