@model Phone_Ecommerce_Manage.Models.Rom

@{
    ViewData["Title"] = "Thêm dung lượng bộ nhớ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="~/adminasset/vendors/images/register-page-img.png" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Thêm dung lượng bộ nhớ</h2>
                    </div>
                    <form asp-action="Create">
                        <label asp-for="NameRom"><h6>Tên dung lượng bộ nhớ</h6></label>
                        <div class="input-group custom">
                            <input asp-for="NameRom" class="form-control form-control-lg"
                                   type="text" />
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <input type="submit" value="Lưu" class="btn btn-primary btn-lg btn-block" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-30">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Thêm RAM</h4>
                    </div>
                </div>
                <form asp-action="Create">
                    <div class="form-group row">
                        <label asp-for="NameRom" class="col-sm-12 col-md-2 col-form-label">Tên màu</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="NameRom" class="form-control"
                                   type="text" />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pull-right">
                            <div class="form-group">
                                <input type="submit" value="Lưu" class="btn btn-primary btn-sm scroll-click" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


