@model Phone_Ecommerce_Manage.Models.CategoryNews

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="~/adminasset/vendors/images/register-page-img.png" alt="" />
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-primary">Thêm danh mục tin tức</h2>
                    </div>
                    <form asp-action="Create">
                        <div class="input-group custom">
                            <input asp-for="NameCategory" class="form-control form-control-lg"
                                   type="text" />
                            <div class="input-group-append custom">
                                <label asp-for="NameCategory" class="input-group-text">Tên danh mục</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <input type="submit" value="Lưu" class="btn btn-primary btn-lg btn-block" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>