@model IEnumerable<Phone_Ecommerce_Manage.Models.CategoryNews>
@using Phone_Ecommerce_Manage.Models;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    MobileShop_DBContext context = new MobileShop_DBContext();
    List<CategoryNews> categoryNews = context.CategoryNews.ToList();
}

<div class="main-container">
    <div>
        <div class="min-height-200px">
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Danh danh mục tin tức</h4>
                    <a asp-area="Admin" asp-controller="CategoryNews" asp-action="Create" type="button" class="btn btn-primary">
                        Thêm danh mục tin tức
                    </a>
                </div>
                <div class="pb-20">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr>
                                <th>Tên danh mục tin tức</th>
                                <th class="table-plus datatable-nosort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    
                                    <td>@item.NameCategory</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdCategoryNews" class="btn btn-primary">Sửa</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdCategoryNews" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


