@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<!-- Simple Datatable start -->
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">Danh sách điện thoại</h4>
					<a href="/Admin/Product/AddProduct" type="button" class="btn btn-primary">
						Thêm điện thoại mới
					</a>

				</div>
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">Tên</th>
								<th>Hãng</th>
								<th>Số lượng</th>
								<th>Giá bán</th>
								<th>Giá khuyến mãi</th>
								<th>Giá nhập</th>
								<th class="datatable-nosort">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-plus">IPhone 14 Promax</td>
								<td>Apple</td>
								<td>100</td>
								<td>$1111</td>
								<td>$999</td>
								<td>$111</td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
										   href="#"
										   role="button"
										   data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
											<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Sửa</a>
											<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Xoá</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td class="table-plus">Samsung Galaxy S22 Ultra 5G</td>
								<td>Samsung</td>
								<td>100</td>
								<td>$999</td>
								<td>$888</td>
								<td>$111</td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
										   href="#"
										   role="button"
										   data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
											<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Sửa</a>
											<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Xoá</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Simple Datatable End -->
			<!-- Simple Datatable start -->
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">Danh sách âm thanh</h4>
					<a href="/Admin/Product/AddProduct" type="button" class="btn btn-primary">
						Thêm sản phẩm âm thanh mới
					</a>
				</div>
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">Tên</th>
								<th>Hãng</th>
								<th>Số lượng</th>
								<th>Giá bán</th>
								<th>Giá khuyến mãi</th>
								<th>Giá nhập</th>
								<th class="datatable-nosort">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="table-plus">Airpod Pro</td>
								<td>Apple</td>
								<td>100</td>
								<td>$111</td>
								<td>$99</td>
								<td>$11</td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
										   href="#"
										   role="button"
										   data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
											<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Sửa</a>
											<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Xoá</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td class="table-plus">Samsung Galaxy Buds</td>
								<td>Samsung</td>
								<td>100</td>
								<td>$999</td>
								<td>$888</td>
								<td>$111</td>
								<td>
									<div class="dropdown">
										<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
										   href="#"
										   role="button"
										   data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
											<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Sửa</a>
											<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Xoá</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Simple Datatable End -->
		</div>
	</div>
</div>